/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.cell {
  float: left;
}

.cell-r {
  float: right;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

.con {
  max-width: 1200px;
  margin: 0 auto;
}

.img-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* style 시작 */


.anchor-box {
  position: absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  z-index: 99999;
}

.anchor-box>a {
  display: block;
  width: 33.6px;
  text-align: center;
  font-weight: bold;
  opacity: 25%;
  margin:4px 0;
}


.fp-viewing-section1 .anchor-box>a:nth-child(1),
.fp-viewing-section2 .anchor-box>a:nth-child(2),
.fp-viewing-section3-0 .anchor-box>a:nth-child(3),
.fp-viewing-section3-1 .anchor-box>a:nth-child(3),
.fp-viewing-section3-2 .anchor-box>a:nth-child(3),
.fp-viewing-section3-3 .anchor-box>a:nth-child(3),
.fp-viewing-section4-0 .anchor-box>a:nth-child(4),
.fp-viewing-section4-1 .anchor-box>a:nth-child(4),
.fp-viewing-section4-2 .anchor-box>a:nth-child(4),
.fp-viewing-section4-3 .anchor-box>a:nth-child(4),
.fp-viewing-section5-0 .anchor-box>a:nth-child(5),
.fp-viewing-section5-1 .anchor-box>a:nth-child(5) {
  opacity: 100%;
}




.anchor-box>a:hover {
  opacity: 100%;
  transition: 0.5s;
}

.anchor-box>a>img {
  display: block;
  width: 100%;
}






.section {
  position: relative;

}


.space {
  position: absolute;
  width: 1920px;
  height: 100vh;
}

.space>p {
  color: white;
  font-size: 96px;
  line-height: 110px;
  letter-spacing: -6.5px;
  margin-top: 383px;
  margin-left: 150px;
  margin-bottom: 20px;
  font-family: kaisei Tokumin;
}


.space > span {
  position: absolute;
  color: white;
  font-size: 20px;
  margin-left: 154px;

  font-family: kaisei Tokumin;

}

.right {
  width: 1920px;
  height: 900px;
  position: absolute;
}

.right>.me {
  z-index: 999;
  position: absolute;
  width: 700px;
  height: 820px;
  top: 95px;
  right: 80px;
  animation-name: up ;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-delay:0.5s;
  animation-direction:alternate;
}


.right>.me:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.7));
}

.text-grad {
  font-weight: bold;
  font-family: kaisei Tokumin;
}

.text-grad {
  background: linear-gradient(to bottom, #FF2323, #FC4BB5, #F9B86C);
  color: transparent;
  -webkit-background-clip: text;
}

.top-wrap {
  width: 100%;
  position: fixed;
  top:0;
  left:496px;
  text-align: center;
  z-index: 90;
  
}

.top-wrap>.menu-bar {
  
  color: white;
  width: 1920px;
  margin:0 auto;
}

.top-wrap > .menu-bar > * {
  margin-top: 40px;
  margin-right:72px;
}

.top-wrap>.menu-bar > p.active{
   opacity:100%;
}


.top-wrap>.menu-bar>p {
  letter-spacing: -6.5%;
  font-size: 24px;
  cursor: pointer;
  font-family: kaisei Tokumin;
  opacity: 50%;
  
}

.top-wrap>.menu-bar>p:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.fp-viewing-section1 .top-wrap>.menu-bar>p,
.fp-viewing-section2 .top-wrap>.menu-bar>p:nth-child(1),
.fp-viewing-section3-0 .top-wrap>.menu-bar>p:nth-child(2),
.fp-viewing-section3-1 .top-wrap>.menu-bar>p:nth-child(2),
.fp-viewing-section3-2 .top-wrap>.menu-bar>p:nth-child(2),
.fp-viewing-section3-3 .top-wrap>.menu-bar>p:nth-child(2),
.fp-viewing-section4-0 .top-wrap>.menu-bar>p:nth-child(3),
.fp-viewing-section4-1 .top-wrap>.menu-bar>p:nth-child(3),
.fp-viewing-section4-2 .top-wrap>.menu-bar>p:nth-child(3),
.fp-viewing-section4-3 .top-wrap>.menu-bar>p:nth-child(3),
.fp-viewing-section5-0 .top-wrap>.menu-bar>p:nth-child(4),
.fp-viewing-section5-1 .top-wrap>.menu-bar>p:nth-child(4),
.fp-viewing-section6 .top-wrap>.menu-bar>p:nth-child(5){
  opacity: 100%;
}


.fp-viewing-section3-0 .star-wrap > .star:nth-child(1),
.fp-viewing-section3-1 .star-wrap > .star:nth-child(2),
.fp-viewing-section3-2 .star-wrap > .star:nth-child(3),
.fp-viewing-section3-3 .star-wrap > .star:nth-child(4),
.fp-viewing-section4-0 .star-wrap > .star:nth-child(1),
.fp-viewing-section4-1 .star-wrap > .star:nth-child(2),
.fp-viewing-section4-2 .star-wrap > .star:nth-child(3),
.fp-viewing-section4-3 .star-wrap > .star:nth-child(4),
.fp-viewing-section5-0 .star-wrap > .star:nth-child(1),
.fp-viewing-section5-1 .star-wrap > .star:nth-child(2){
  opacity: 100%;
}


.top-right {
  box-shadow: 0 0 0 0 #013E87, 0 0 0 0 #9CC9FD;
  transition:box-shadow .7s;
  border-radius:20px;
}

.top-right.active {
  background-color:#ddd;
  border-radius:0;
  box-shadow: 0 0 0 500vw #9CC9FD, 0 0 0 100vh #9CC9FD;
  
}



.top-right>.more {
  position:fixed;
  right:50px;
  top:37px;
  margin-top:3px;
  cursor: pointer;
  width: 8px;
  height: 32px;
}

.top-right>.more:hover {
  opacity: 0.5;
  transition: 0.2s;
}

/* menu-box-1 */
.menu-box-1 {
  display:inline-block;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity:0;
  visibility:hidden;
  z-index: 99;
}

.menu-box-1.active {
  opacity:1;
  visibility:visible;
  transition:.3s .4s;
}

.menu-box-1 > ul > li {
  margin:30px 0;
  font-size:40px;
  font-weight:bold;
  color:white;
  transition:1s;
}

.menu-box-1 > ul > li > a{
  transition:0.2s;
}

.menu-box-1 > ul > li:nth-child(1) > a:hover,
.menu-box-1 > ul > li:nth-child(2) > a:hover,
.menu-box-1 > ul > li:nth-child(3) > a:hover,
.menu-box-1 > ul > li:nth-child(4) > a:hover,
.menu-box-1 > ul > li:nth-child(5) > a:hover{
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  /* animation-name: right ;
  animation-duration:0.2s;
  animation-iteration-count: 1s;
  animation-delay:0; */
}


/* .menu-box-1 > ul > li:hover{
  background-color: #013E87;
} */

.mid {
  width:500px;
  height: 400px;
  position: absolute;
  z-index: 999;
  margin-left: 930px;
  margin-top: 450px;
}

.mid>.planet {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 0 25px rgba(255, 77, 0, 0.5));
}


.mid>.a-p{

  animation-name: planet;
  animation-duration:30s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

.section>.bottom {
  position: fixed;
  bottom: 30px;
  left: 732px;
  z-index: 99999;
}

.section>.bottom2 {
  position: fixed;
  bottom: 20px;
  left: 868px;
  z-index: 9999;
  width: 500px;
}

.section>.bottom2>p {
  color: white;
  font-size: 12px;
  letter-spacing: -6.5%;
  font-family: kaisei Tokumin;
}

.section>.bottom>.text-bottom1 {
  position: absolute;
  width: 500px;
  bottom: 20px;
}

.section>.bottom>.text-bottom1>.txt1 {
  color: white;
  margin-left: 40px;
  font-size: 24px;
  letter-spacing: -6.5%;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-family: kaisei Tokumin;
}
.section>.bottom>.text-bottom1>.txt2 {
  color: white;
  margin-left: 40px;
  font-size: 24px;
  letter-spacing: -6.5%;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-family: kaisei Tokumin;
}


.section>.bottom>.text-bottom1>p:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* .menu-more-wrap {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background: rgb(1, 62, 135);
  background: linear-gradient(180deg, rgba(1, 62, 135, 1) 0%, rgba(156, 201, 253, 1) 100%);
  z-index: 999999;
  display: none;
  transition: 0.5s;
}


.menu-more-wrap.active {
  display: block;
}

.menu-more-wrap>.menu-more {
  position: absolute;
  right: 40px;
  top: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


.menu-more-wrap>.more-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 518px;
}


.menu-more-wrap>.more-txt>p {
  margin-left: 110px;
  color: white;
  font-size: 36px;
  cursor: pointer;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: kaisei Tokumin;
} */


/* .section>.space>.p {
  color: white;
  font-size: 20px;
  position: absolute;
} */

.right-text {
  position: absolute;
  text-align: center;
  right: 112px;
  top: 275px;
  z-index: 9999;
}

.right-text>p {
  font-size: 40px;
  font-weight: bold;

  letter-spacing: -6.5%;
  color: white;
  margin-bottom: 50px;
  font-family: kaisei Tokumin;
}

.right-text>p:hover{
  
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.25));
}

.right-text>span:hover{
  
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.25));
}
.right-text>span {
  color: rgba(231, 231, 231, 1);
  line-height: 180%;
  font-size: 20px;
  letter-spacing: -8%;
  font-weight: 600;
  text-shadow: 0 4px 10px rgba(255, 255, 255, 0.25);

}

.right-text>span>.bold {
  font-weight: bold;
}

.space>span {
  font-weight: regular;
  background: linear-gradient(to bottom, #FF2CAA, #5CC1E1, #C8E478);
  color: transparent;
  -webkit-background-clip: text;
      
    text-shadow: 0 2px 4px rgba(255,255,255,0.15) ;
}


.section>.space>span>.white {
  color: white;
  font-family: kaisei Tokumin;
}

.section>.mid>.planet2 {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 0 25px rgba(255, 167, 35, 0.5));
}


.section>.txt-btm {
  position: absolute;
  width: 500px;
  bottom: 20px;
  left: 802px;
  z-index: 9999;

}


.section>.txt-btm>p {
  color: white;
  font-size: 24px;
  letter-spacing: -6.5%;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
}
.slide{
  position: relative;
}

.slide > .right>.glass-me {
  z-index: 999;
  position: absolute;
  width: 716px;
  height: 620px;
  top: 189px;
  right: 108px;
  animation-name: up2 ;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-delay:0.5s;
  animation-direction:alternate;
}


.right>.glass-me:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.25));
}

.slide > .star-wrap{
  position: absolute;
  top:215px;
}

.star-wrap > .vision{
  position: absolute;
  top:50px;
}

.star-wrap > .as-a-des{
  position: absolute;
  top:180px;
}


.star-wrap > .about-me-txt:hover{
  
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.5));
}

.star-wrap > .about-me-txt{
  margin-left: 758px;
  margin-top:-80px;
  width: 480px;
  transition:0.5s;
}

.slide > .star-wrap > .about-me-txt > .top{
  font-size: 40px;
  letter-spacing: -6.5%;
  margin-bottom: 40px;
  color:white;
  font-weight: bold;
  font-family:'Kaisei Tokumin', serif;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.25);
  margin-left:12px;

}

.slide > .star-wrap > .about-me-txt > p{
  z-index: 99999;
  color:#E7E7E7;
  text-align: center;
  font-size: 16px;
  letter-spacing: -6.5%;
  font-family: 'Noto Sans KR', sans-serif;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.slide > .star-wrap > .about-me-txt > p > span{
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -6.5%;
  font-family:  'Kaisei Tokumin', serif;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.slide > .star-wrap > .about-me-txt > p > .noto{
  font-family: 'Noto Sans KR', sans-serif;
}


.slide > .star-wrap > .about-me-txt{
  margin-left: 758px;
  margin-top:-80px;
  width: 480px;
}

.slide > .star-wrap > .about-me-txt > .top{
  font-size: 40px;
  letter-spacing: -6.5%;
  margin-bottom: 40px;
  color:white;
  font-weight: bold;
  font-family:'Kaisei Tokumin', serif;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.25);
  margin-left:-8px;
}


.slide > .star-wrap > .about-me-txt > .top1{

  margin-left:12px;
}

.slide > .star-wrap > .about-me-txt > p{
  z-index: 99999;
  color:#E7E7E7;
  text-align: center;
  font-size: 16px;
  letter-spacing: -6.5%;
  font-family: 'Noto Sans KR', sans-serif;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.slide > .star-wrap > .about-me-txt > p > span{
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -6.5%;
  font-family:  'Kaisei Tokumin', serif;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.slide > .star-wrap > .about-me-txt > p > .noto{
  font-family: 'Noto Sans KR', sans-serif;
}


.slide > .str2{
  margin-top:20px;
}

.star{
  
  width: 70px;
  height: 70px;
  margin-top: 415px;
  cursor: pointer;
  margin-right: -30px;
  opacity: 20%;
}

.sf1,
.sf4-0,
.sf5-0{
  margin-left:135px;
} */

/* .sb{
  animation-name: sb;
  animation-duration:2s;
  animation-iteration-count: 1s;
  animation-delay:0.5s;
  animation-direction:alternate;
} */

.mid > .planet3 {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 0 25px rgba(82, 193, 255, 0.5));
  /* z-index: 99999; */

}

/* .section > .star{ 
  position: absolute;
  top:637px;
  left:140px;
  z-index: 99999;
} */

.section > .star > ul > li{
  width:70px;
  height: 70px;
  cursor: pointer;
  margin-right: -20px;
}

.top-wrap>.menu-bar3 {
  width: 1360px;
  color: white;
  text-align: center;
  /* margin-top: 40px; */
  margin-left: 496px;

}

.top-wrap>.menu-bar3>p {
  margin-right: 72px;
  line-height: 110px;
  letter-spacing: -6.5%;
  font-size: 24px;
  cursor: pointer;
  /* font-weight: 300; */
  opacity: 0.5;
  font-family: kaisei Tokumin;
}

.top-wrap>.menu-bar3>p:nth-child(2) {
  opacity: 1;
}

.top-wrap>.menu-bar3>p:hover {

  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  opacity: 1;
  transition: 0.2s;
}

.right>.movie-me {
  z-index: 999;
  position: absolute;
  width: 577.5px;
  height: 393px;
  top: 285.5px;
  right: 108px;
}


.right>.movie-me:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.25));
  transform: scale( 1.1 )
}

.mid>.planet4 {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 0 25px rgba(167, 167, 167, 0.5));
}

.top-wrap>.menu-bar4 {
  width: 1360px;
  color: white;
  text-align: center;
  /* margin-top: 40px; */
  margin-left: 496px;

}

.top-wrap>.menu-bar4>p {
  margin-right: 72px;
  line-height: 110px;
  letter-spacing: -6.5%;
  font-size: 24px;
  cursor: pointer;
  /* font-weight: 300; */
  opacity: 0.5;
  font-family: kaisei Tokumin;
}

.top-wrap>.menu-bar4>p:nth-child(3) {
  opacity: 1;
}

.top-wrap>.menu-bar4>p:hover {

  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  opacity: 1;
  transition: 0.2s;
}

.txt-btm3 {
  position: absolute;
  width: 330px;
  bottom: 20px;
  left: 810px;
  z-index: 9999;

}


.txt-btm3>p {
  color: white;
  font-size: 24px;
  letter-spacing: -6.5%;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
}

.txt-btm4 {
  position: absolute;
  width: 280px;
  bottom: 20px;
  left: 833px;
  z-index: 9999;

}


.txt-btm4>p {
  color: white;
  font-size: 24px;
  letter-spacing: -6.5%;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
}

.space>.percent {
  position: absolute;
  left: 355px;
  top: 525px;
  width: 83px;
  height: 95px;
  z-index: 9999;
}

.slide > .right> .portfolio-me {
  position: absolute;
  z-index: 999;
  width: 640px;
  height: 234px;  
  top: 372px;
  right:115px;
  opacity: 0.8;
}


.right>.portfolio-me:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.25));
  opacity: 1;
  transform: scale( 1.1 );
}

.slide > .mid>.planet5 {
  position:absolute;
  top:0px;
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 0 25px rgba(255, 144, 43, 0.5));
}

.top-wrap>.menu-bar5 {
  width: 1360px;
  color: white;
  text-align: center;
  /* margin-top: 40px; */
  margin-left: 496px;

}

.top-wrap>.menu-bar5>p {
  margin-right: 72px;
  line-height: 110px;
  letter-spacing: -6.5%;
  font-size: 24px;
  cursor: pointer;
  /* font-weight: 300; */
  opacity: 0.5;
  font-family: kaisei Tokumin;
}

.top-wrap>.menu-bar5>p:nth-child(4) {
  opacity: 1;
}

.top-wrap>.menu-bar5>p:hover {

  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  opacity: 1;
  transition: 0.2s;
}

.txt-btm4 {
  position: absolute;
  width: 330px;
  bottom: 20px;
  left: 864px;
  z-index: 9999;

}


.txt-btm4>p {
  color: white;
  font-size: 24px;
  letter-spacing: -6.5%;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
}

.section > .long-space{
  position: absolute;
  width: 1920px;
  height: 4911px;
}


.section > .long-space >.credit-wrap{
  
  animation-name: down;
  animation-duration:30s;
  animation-iteration-count: 1s;
  animation-delay:0.5s;
  animation-direction:alternate;
}

.section > .long-space >.credit-wrap > p{
  color: white;
  z-index: 9999;
  font-family: kaisei Tokumin;
  font-size: 72px;
  margin-top: 220px;
  margin-left: 732px;
}

.section > .long-space >.credit-wrap > .span-wrap{
  position: absolute;
  left:727px;
  margin-top: 4509px;
}


.section > .long-space > .credit-wrap > .credit{
  position: absolute;
  /* display:flex;
  justify-content: center; */
  width: 1129px;
  height: 4201px;
  margin-left: 396px;
  margin-top:166px;
  
}

.section > .long-space >.credit-wrap > .span-wrap > span{
  
  color: white;
  z-index: 9999;
  font-family: kaisei Tokumin;
  font-size: 16px;
  margin-left: 40px;
  text-align: center;
}

.slide{
  position: relative;
}

.slide > .left-txt{
  position: absolute;
  left:400px;
  color: white;
  text-align:center;
  transform:translateY(50%);
}


.slide > .picture{
   margin-top:80px;
}


.slide > .left-txt > .title{
  margin-bottom: 40px;
  font-size: 60px;
  font-family: kaisei Tokumin;
}


.slide > .left-txt > .sub{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.slide > .right-pic{
  position: absolute;
  width: 640px;
  height: 500px;
  left:1065px;
  z-index: 9999;
  top:240px;
  filter: drop-shadow(0 0 200px rgba(255, 255, 255, 0.25));
  transition:0.5s;
  animation-name: up3 ;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-delay:0.5s;
  animation-direction:alternate;
}

.slide > .right-pic:hover{
  
  transform: scale( 1.05 );
  filter: drop-shadow(0 0 200px rgba(255, 255, 255, 0.35));
}

.slide > .cut-planet{
  position: absolute;
  bottom:-80px;
  width: 2000px;
  height: 194px;
  filter: drop-shadow(0 0 200px rgba(167, 167, 167, 0.5));
}


.slide > .c-p-2{
  height: 660px;
  position: absolute;
  top:210px;
  animation-name: up4 ;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-delay:0.5s;
  animation-direction:alternate;
}

.slide > .port-img{
  position: absolute;
  width: 1300px;
  top:255px;
  left:382px;
  z-index: 99999;
}


.slide > .port-img > .port{
  margin-right: 40px;
  width: 279px;
  height: 450px;
  filter: drop-shadow(0 0 200px rgba(255, 255, 255, 0.25));
  transition:0.5s;
  cursor:pointer;
  
}

.port{
  margin-left: 35px;
}

.port5{
  margin-top:-50px;
  margin-left: 10px;
}


.port:hover{
  filter: drop-shadow(0 0 200px rgba(255, 255, 255, 0.25));
  transition:0.5s;
  
  transform: scale( 1.1 );

}

.slide > .port-img > .port > span{
  position: absolute;
  left:7px;
  top:425px;
  font-family: inter;
  font-weight: 1000;
  letter-spacing:-1px;
  transform: rotate(-17deg);
  line-height:42px;
  font-size: 32px;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.25));

}

.slide > .port-img > .port > p {
  position: absolute;
  left:15px;
  top:20px;
  color: white;
  font-weight: 900;
  font-size: 28px;
  font-family: inter;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

.slide > .port-img > .port > .por-txt1{
  background: linear-gradient(to bottom, #FFFFFF, #E454DF, #B8D0FF);
  color: transparent;
  -webkit-background-clip: text;
  
}

.slide > .port-img > .port > .por-txt2{
  background: linear-gradient(to bottom, #E454DF, #B8D0FF, #B6FDEC);
  color: transparent;
  -webkit-background-clip: text;
  
}

.slide > .port-img > .port > .por-txt3{
  background: linear-gradient(to bottom, #B8D0FF, #B6FDEC, #E454DF);
  color: transparent;
  -webkit-background-clip: text;
  
}

.slide > .port-img > .port > .por-txt4{
  background: linear-gradient(to bottom, #E454DF, #B6FDEC, #B8D0FF);
  color: transparent;
  -webkit-background-clip: text;
  
}


.slide > .port-img > .port:nth-child(1):hover,
.slide > .port-img > .port:nth-child(2):hover,
.slide > .port-img > .port:nth-child(3):hover,
.slide > .port-img > .port:nth-child(4):hover{
   
  transform: scale( 1.1 )
}




.fp-watermark{
  display:none;
}

.fp-prev{
  display: none;
}

.fp-next{
  display: none;
}


/* animation */

@keyframes planet {
  0% {
    transform: rotate( 0deg );
  }
  100% {
    transform: rotate( 360deg );
  }
}

@keyframes up {
  0% {
      top:95px;
  }
  100% {
      top:75px;
  }
}


@keyframes up2 {
  0% {
      top:199px;
  }
  100% {
      top:179px;
  }
}

@keyframes up3 {
  0% {
      top:230px;
  }
  100% {
      top:250px;
  }
}

@keyframes up4 {
  0% {
      top:170px;
  }
  100% {
      top:180px;
  }
}
@keyframes right {
  0% {
      margin-left:0;
  }
  100% {
    margin-left:20px;
  }
}

@keyframes down {
  0% {
      top:0px;
  }
  100% {
      top:4911px;
  }
}


/* 
@keyframes sb {
  0% { 
    top:0px;
    left:0px;
  }
  100% { 
    top:1200px;
    left:500px;
  }
} */